<div>
	<div class="modal fade" id="deleteSurveyModal" tabindex="-1"
		role="dialog">
		<div class="modal-dialog alertModal modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Alert!</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="material-icons">clear</i>
					</button>
				</div>
				<div class="modal-body text-center">
					<p>Survey will be deleted permanently, are you sure?</p>
				</div>
				<div class="modal-footer text-center">
					<a class="btn btn-primary" ng-click="deleteSurvey()" >OK</a>
					<a class="btn btn-primary" ng-click="deleteSurvey()" data-dismiss="modal">Close</a>
				</div>
			</div>
		</div>
	</div>
</div>